.p-container{
    position: fixed;
    left:50%;
    top:6%;
    width: 500px;
    transform: translate(-50%, -50%);
    padding: 10px 0px;
    height: auto;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    gap: 0px;
    box-shadow: 1px 1px 5px 0px green;
    transition: .2s;
}
.p-img-container{
    width: 100px;
    height: 100px;
    background-color: #fff;
}
.p-img-container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.p-txt-container{
    padding: 10px 0px;
    max-width: 50%;
}
@media only screen and (max-width: 600px) {

    .p-img-container{
        width: 100px;
        height: 100px;
        background-color: #fff;
        margin-top: 5px;
    }

    .p-img-container{
        width: 70px;
        height: 70px;
        background-color: #fff;
    }
}