.test-cont {
  width: 500px;
  height: auto;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 80%;
  display: flex;
  border-radius: 10px;
  gap: 20px;
  transition: 0.5s;
  box-shadow: 1px 1px 10px 1px rgb(212, 212, 212);
  text-decoration: none;
  color: black;
  transform: 1s ease-in-out;
}
.test-txt {
  max-width: 80%;

  height: auto;
  padding: 5px;
}
.test-img {
  width: 80px;
  height: 80px;
  min-width: 80px;
  min-height: 80px;
  border-radius: 50%;
  background-color: #fff;
  padding: 5px;
}
.test-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* reaponsive test popup*/
@media only screen and (max-width: 600px) {
  .test-cont {
    width: 98%;
    height: auto;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 80%;
    display: flex;
    border-radius: 10px;
    gap: 20px;
    transition: 0.5s;
    box-shadow: 1px 1px 10px 1px rgb(212, 212, 212);
    text-decoration: none;
    color: black;
    transform: 1s ease-in-out;
    font-size: small;
  }
  .test-txt {
    max-width: 100%;
    height: auto;
    padding: 5px;
  }
  .test-img {
    width: 80px;
    height: 80px;
    min-width: 80px;
    min-height: 80px;
    border-radius: 50%;
    background-color: #fff;
    padding: 5px;
  }
  .test-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
